---
swagger: "2.0"
info:
  description: "Fintan Docker integration experiment; TODO: update to openapi: 3.0.0,\
    \ also cf. https://swagger.io/docs/specification/2-0/file-upload/"
  version: "1.0.0"
  title: "PepperReader"
  termsOfService: "http://swagger.io/terms/ [to be replaced]"
  contact:
    email: "christian.chiarcos@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "to.be.determin.ed"
basePath: "/data"
tags:
- name: "corpus"
  description: "corpus data uploaded from file or blob, and processed"
  externalDocs:
    description: "to be updated"
    url: "http://swagger.io"
schemes:
- "https"
- "http"
paths:
  /resource/{id}:
    get:
      tags:
      - "corpus"
      summary: "Get processed data (full or partial)"
      description: "result (full or partial)"
      operationId: "get_response"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "identifier as used for POST request"
        required: true
        type: "string"
      responses:
        "200":
          description: "successful operation"
          schema:
            $ref: "#/definitions/Response"
        "202":
          description: "accepted: processing not concluded yet"
          schema:
            $ref: "#/definitions/Response"
        "206":
          description: "partial result, there is more to read"
          schema:
            $ref: "#/definitions/Response"
        "208":
          description: "already reported, nothing more to read"
        "400":
          description: "Invalid status value"
      x-swagger-router-controller: "swagger_server.controllers.corpus_controller"
    delete:
      tags:
      - "corpus"
      summary: "Deletes a resource"
      description: ""
      operationId: "delete"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "identifier as used for POST request"
        required: true
        type: "string"
      responses:
        "400":
          description: "Invalid ID supplied"
        "404":
          description: "ID not found"
      x-swagger-router-controller: "swagger_server.controllers.corpus_controller"
  /blob/{id}:
    post:
      tags:
      - "corpus"
      summary: "Send raw data"
      description: "resource/data ID"
      operationId: "add_data"
      consumes:
      - "application/x-www-form-urlencoded"
      parameters:
      - name: "id"
        in: "path"
        description: "resource/data ID"
        required: true
        type: "string"
      - name: "importer"
        in: "formData"
        description: "PepperImporter"
        required: true
        type: "string"
      - name: "format"
        in: "formData"
        description: "target format, one of CoNLL-RDF, CoNLL or POWLA"
        required: true
        type: "string"
      - name: "blob"
        in: "formData"
        description: "Data to be processed"
        required: true
        type: "string"
      responses:
        "200":
          description: "ok"
          schema:
            $ref: "#/definitions/Response"
        "405":
          description: "Invalid input"
        "408":
          description: "timeout"
        "409":
          description: "conflict (output queue not empty)"
        "413":
          description: "payload too large (hitting a processing limit)"
      x-swagger-router-controller: "swagger_server.controllers.corpus_controller"
  /file/{id}:
    post:
      tags:
      - "corpus"
      summary: "Upload a corpus file"
      description: "path to a local file"
      operationId: "add_file"
      consumes:
      - "multipart/form-data"
      produces:
      - "application/xml"
      - "application/json"
      parameters:
      - name: "id"
        in: "path"
        description: "resource ID"
        required: true
        type: "string"
      - name: "importer"
        in: "formData"
        description: "PepperImporter"
        required: true
        type: "string"
      - name: "format"
        in: "formData"
        description: "target format, one of CoNLL-RDF, CoNLL or POWLA"
        required: true
        type: "string"
      - name: "file"
        in: "formData"
        description: "File to upload"
        required: true
        type: "file"
      responses:
        "200":
          description: "ok"
          schema:
            $ref: "#/definitions/Response"
        "405":
          description: "Invalid input"
        "408":
          description: "timeout"
        "409":
          description: "conflict (output queue not empty)"
        "413":
          description: "payload too large (hitting a processing limit)"
      x-swagger-router-controller: "swagger_server.controllers.corpus_controller"
definitions:
  Response:
    type: "object"
    required:
    - "format"
    - "value"
    properties:
      format:
        type: "string"
        example: "CoNLL-RDF"
        description: "response format"
        enum:
        - "POWLA-RDF"
        - "CoNLL-RDF"
        - "CoNLL-TSV"
      value:
        type: "string"
        example: "PREFIX : <#>\n:s1_1 a nif:Word; conll:WORD 'test'."
    example:
      format: "CoNLL-RDF"
      value: "PREFIX : <#>\n:s1_1 a nif:Word; conll:WORD 'test'."
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
